<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ログインページ</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>ログイン</h1>
    <h2>idと名前を入力してください。</h2>
    <%
      if(typeof session.errormessage != 'undefined'){
      %>
    <p>
      <em><%= session.errormessage %></em>
    </p>
    <% } %>
    <form action="mall.ejs" method="post">
      <p>
	id:<input name="id" type="text" value="">
	名前:<input name="name" type="text" value="">
	<input type="submit">
      </p>
    </form>
    問い合わせ:19ec043@ms.dendai.ac.jp
  </body>
</html>
